@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");

@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
  --color-purple-600: #7c3aed;

  --font-header: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-950 text-white font-sans overflow-x-hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }
}
